#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2f353b;
}
.mainPage{
    flex-grow: 1;;
}
#banner{
    height: 490px;
    width: 100%;
    object-fit: cover;
}